html {
  @include lg {
    font-size: 14px;
  }
}

body {
  background-color: $primary-background-color;
  color: $color-shades-white;
}

@include xs {
  html,
  body {
    font-size: $base-font-size-mobile;
  }
}

@include md {
  html,
  body {
    font-size: $base-font-size-tablet;
  }
}

@include xl {
  html,
  body {
    font-size: $base-font-size-desktop;
  }
}

section {
  @include xs {
    margin-bottom: 48px;
  }
  @include md {
    margin-bottom: 70px;
  }
  @include xl {
    margin-bottom: 120px;
  }
}

.mt-10px {
  margin-top: 10px;
}

.mt-20px {
  margin-top: 20px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mt-40px {
  margin-top: 40px;
}

.mt-80px {
  margin-top: 80px;
}

.mb-40px {
  margin-bottom: 40px;
}

.pl-20px {
  padding-left: 60px !important;
}

.tight--desktop--container {
  @media only screen and (min-width: 992px) {
    width: 670px;
    margin: 0 auto;
  }
}

.tag-button {
  p {
    margin-right: 1rem;
    padding: 4px 12px;
    background-color: $color-shades-darkGray;
  }

  a {
    color: $color-shades-white;
    text-decoration: none;
  }
}

.tag-button a:hover {
  color: $color-brand-orange;
}

.single-tag-button:hover {
  color: $color-brand-orange !important;
}

.tag-button-hover:hover {
  color: $color-brand-orange;
}

.separator-horizontal-full {
  padding: 0;
  border: none;

  &::before {
    // full-width divider
    content: "";
    display: block;
    position: absolute;
    right: 0;
    max-width: 100%;
    width: 100%;
    border-top: 1px solid $color-shades-lightBlack;
  }
}

.separator-horizontal {
  border-top: solid 1px $color-shades-lightBlack;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.vertical-separator {
  border-left: solid 1px $color-shades-lightBlack;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 28px;
}

// .link-decoration-remove {
//   text-decoration: none;
//   a:visited {
//     text-decoration: none;
//   }
//   a:hover {
//     text-decoration: underline !important;
//   }
//   a:active {
//     text-decoration: none;
//   }
//   a:link {
//     text-decoration: none;
//   }
// }

.link-decoration-remove {
  text-decoration: none;
  color: $color-brand-orange !important;
  font-weight: bold !important;
}

.link-decoration-remove__blog-sidebar {
  text-decoration: none;
  font-weight: bold !important;
}

.link-decoration-remove:hover {
  text-decoration: none !important;
  background-image: linear-gradient(
    to bottom,
    $color-brand-orange,
    $color-brand-orange
  );
  background-repeat: repeat-x;
  background-position: center bottom 3px;
  background-size: 100% 2px; /* Vastagság beállítása itt */
}

.list-style-remove {
  list-style: none;
}

.meta-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

// Settings for the hero image of pages
.page-hero-image {
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .page-big-image {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-mobil-image {
    display: none !important;
  }
}

.page-hero-container {
  position: relative;
  padding: 0 !important;
}

.page-hero-title {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  margin: 0;
}

// Style for the ordered lists
ol {
  list-style: none;
  counter-reset: item;
  font-family: $font-family-secondary;
  font-size: 1.1428571429rem !important;
  font-weight: $font-weight-regular;

  li {
    counter-increment: item;
    margin-bottom: 14px;
    position: relative;
  }
  li:before {
    margin-right: 20px;
    content: counter(item);
    position: absolute;
    left: -40px;
    width: 1.4em;
    height: 1.4em;
    background-color: $color-brand-orange;
    color: $color-shades-black;
    font-family: $font-family-secondary;
    font-weight: 800;
    text-align: center;
    display: inline-block;
  }
}

// Style for the unordered lists
.unordered-list-style {
  ul {
    list-style: none;
    font-family: $font-family-secondary;
    font-size: 1.1428571429rem !important;
    font-weight: $font-weight-regular;
    list-style-position: outside !important;
    margin-top: 12px;
    p {
      margin-left: 30px;
    }

    li {
      margin-bottom: 8px;
      position: relative;
    }
    li::before {
      content: url(../../images/chevron_right.svg);
      color: $color-brand-orange;
      font-size: 6px;
      position: absolute;
      top: 0;
      left: -4px;
    }
  }
}

// Style for blockquotes
blockquote {
  border-left: 4px solid $color-brand-orange;
  padding: 20px;
  margin: 12px 0 14px;
  background-color: $color-shades-darkGray;
  // width: fit-content;
  width: 100%;
  font-family: $font-family-secondary;
  font-weight: 900;
  text-indent: 40px;

  &::before {
    content: url(../../images/QuoteDouble.svg);
    color: $color-brand-orange;
    margin: 0 10px 0 -42px;
  }
}

.custom-link-style {
  color: $color-brand-orange;
  a {
    text-decoration: none;
  }
}

.custom-link-style-white {
  color: $color-shades-white !important;
  a {
    text-decoration: none;
  }
}

.custom-link-style:hover {
  text-decoration: underline !important;
}

@media screen and (max-width: 768px) {
  .display-none-mobil {
    display: none;
  }
}

// 3 images in a row
.image-track-3 {
  display: flex;
  flex-direction: row;
  @include xs {
    gap: 0;
  }
  @include md {
    flex-flow: nowrap !important;
    gap: 10px;
  }
}

// Text align center
.text-align-center {
  text-align: center;
}

// Style for the framed ORANGE sections

.framed-section-orange {
  border: solid 1px $color-brand-orange;
}

.framed-section-orange__inside {
  margin: 20px;
}

.framed-section-orange__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.framed-section-orange__card {
  background-color: $color-shades-darkGray;
  padding: 20px;
  margin: 20px;
  min-width: 300px;
}

// Style for the island sections

.island-section {
  background-color: $color-shades-darkGray;
  padding: 20px;
  margin: 20px 0;
}

.link-color-orange {
  color: $color-brand-orange !important;
  font-weight: bolder;
}
