html {
  @include lg {
    font-size: 14px;
  }
}

body {
  background-color: $primary-background-color;
  color: $color-shades-white;
  //   font-family: "IBM Plex Sans", sans-serif;
  //   font-display: swap;
  //   overflow-x: hidden;
}

@include xs {
  html,
  body {
    font-size: $base-font-size-mobile;
  }
}

@include md {
  html,
  body {
    font-size: $base-font-size-tablet;
  }
}

@include xl {
  html,
  body {
    font-size: $base-font-size-desktop;
  }
}

section {
  @include xs {
    margin-bottom: 48px;
  }
  @include md {
    margin-bottom: 70px;
  }
  @include xl {
    margin-bottom: 120px;
  }
}

.mt-20px {
  margin-top: 20px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mt-40px {
  margin-top: 40px;
}

.mb-40px {
  margin-bottom: 40px;
}

.tag-button {
  p {
    margin-right: 1rem;
    padding: 4px 12px;
    background-color: $color-shades-darkGray;
  }

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit;
  }
}
