html {
  @include lg {
    font-size: 14px;
  }
}

body {
  background-color: $primary-background-color;
  color: $color-shades-white;
  //   font-family: "IBM Plex Sans", sans-serif;
  //   font-display: swap;
  //   overflow-x: hidden;
}

@include xs {
  html,
  body {
    font-size: $base-font-size-mobile;
  }
}

@include md {
  html,
  body {
    font-size: $base-font-size-tablet;
  }
}

@include xl {
  html,
  body {
    font-size: $base-font-size-desktop;
  }
}

section {
  @include xs {
    margin-bottom: 48px;
  }
  @include md {
    margin-bottom: 70px;
  }
  @include xl {
    margin-bottom: 120px;
  }
}

.mt-20px {
  margin-top: 20px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mt-40px {
  margin-top: 40px;
}

.mt-80px {
  margin-top: 80px;
}

.mb-40px {
  margin-bottom: 40px;
}

.pl-20px {
  padding-left: 60px !important;
}

.tag-button {
  p {
    margin-right: 1rem;
    padding: 4px 12px;
    background-color: $color-shades-darkGray;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.separator-horizontal-full {
  padding: 0;
  border: none;

  &::before {
    // full-width divider
    content: "";
    display: block;
    position: absolute;
    right: 0;
    max-width: 100%;
    width: 100%;
    border-top: 1px solid $color-shades-lightBlack;
  }
}

.vertical-separator {
  border-left: solid 1px $color-shades-lightBlack;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 28px;
}

.link-decoration-remove {
  text-decoration: none;
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
}

.list-style-remove {
  list-style: none;
}

.tight--desktop--container {
  @media only screen and (min-width: 992px) {
    width: 670px;
    margin: 0 auto;
  }
  a:link {
    text-decoration: none;
    color: $color-brand-orange !important;
  }
  a:visited {
    color: $color-brand-orange !important;
  }
}

.meta-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
