@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap");

p {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

a {
  font-family: "Nunito Sans", sans-serif !important;
  font-size: large !important;
}

.show {
  a {
    font-family: "Nunito Sans", sans-serif;
    font-size: large !important;
    margin-left: 10px;
  }
}

.show {
  ul {
    margin-top: 30px;
  }
}
