@mixin respond($breakpoint) {
  // Mobile Small
  @if $breakpoint == MS {
    @media (max-width: 576px) {
      @content;
    }
  }

  // Mobile Large
  @if $breakpoint == ML {
    @media (max-width: 768px) {
      @content;
    }
  }

  // Table Portrait
  @if $breakpoint == TP {
    @media (max-width: 992px) {
      @content;
    }
  }

  // Table Landscape
  @if $breakpoint == TL {
    @media (max-width: 1200px) {
      @content;
    }
  }

  // Big Desktop
  @if $breakpoint == DL {
    @media (min-width: 1400px) {
      @content;
    }
  }
}

@mixin mobil-menu-fonts {
  font-family: "Nunito Sans", sans-serif;
  font-size: x-large;
  font-weight: 900;
}

@mixin desktop-menu-fonts {
  font-family: "Nunito Sans", sans-serif;
  font-size: xx-large;
  font-weight: 900;
}

@mixin desktop-submenu-fonts {
  font-family: "Nunito Sans", sans-serif;
  font-size: x-large;
  font-weight: 600;
  text-transform: lowercase;
  color: white;
}
