@mixin mobil-menu-fonts {
  font-family: "Nunito Sans", sans-serif;
  font-size: x-large;
  font-weight: bolder;
}

@mixin desktop-menu-fonts {
  font-family: "Nunito Sans", sans-serif;
  font-size: medium;
  font-weight: bolder;
}
