// colors
// $primary-background-color: #333333;
$primary-background-color: #000000;
$primary-orange-color: #f39e12;
$primary-black-color: #000000;
$secondery-black-color: #333333;
$offcanvas-menu-color: rgba(0, 0, 0, 1);
$primary-white-color: #ffffff;
$primary-gray-color: hsl(0, 0%, 90%);
$bw-logo-color: hsl(0, 0%, 90%);
$separator-color: rgba(255, 255, 255, 0.3);
// $navbar-scrolled-background-color: rgba(50, 50, 50, 0.72);
$navbar-scrolled-background-color: #000000;

// font size

// Items positions
$navbar-items-margin: 16px;
