// colors
$colors: (
  primary: (
    "orange": hsl(37.3, 90.4%, 51.2%),
    "black": hsl(0, 0%, 0%),
  ),
  shades: (
    "lightBlack": hsl(240, 10%, 30%),
    "darkGray": hsl(0, 0%, 90%),
    "white": hsl(0, 0%, 100%),
  ),
  flag: (
    "notify": red,
  ),
);

// Colors
$color-primary-orange: hsl(37.3, 90.4%, 51.2%);
$color-primary-black: #000000;
$color-primary-white: #ffffff;
$color-primary-gray: hsl(0, 0%, 90%);
$color-secondery-black: #333333;

$offcanvas-menu-color: rgba(0, 0, 0, 1);
$logo-color-primary: $color-primary-gray;
$separator-color: rgba(255, 255, 255, 0.3);
$navbar-scrolled-background-color: $color-primary-black;
$primary-background-color: $color-primary-black;

// font size
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// Items positions
$navbar-items-margin: 16px;

// Spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// Borders
$base-border-thickness: 1px;
$base-border-radius: 4px;
