@import "/src/sass/global";

.adatvedelmi--wrapper {
  span {
    font-size: 1.2rem;
    font-weight: bolder;
  }

  li {
    padding-left: 24px;
  }
  .unordered-list-nested {
    padding-left: 24px;
  }
}
