@import "/src/sass/global";

.arak-wrapper {
  .footnote {
    margin-top: 8px;
    font-family: $font-family-secondary;
  }
}

table.prices {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: $font-family-secondary;
  margin-top: 20px;
  th:nth-child(1) {
    width: 160px;
  }
  th:nth-child(2) {
    width: 100px;
  }
}

table.prices tr {
  border-bottom: 1px solid $color-shades-darkGray;
  padding: 3px 2px;
}

.buy-ticket {
  color: $color-brand-orange;
  float: right;
  font-size: smaller;
}
