@import "/src/sass/global";

table.prices {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: $font-family-secondary;
  margin: 20px 0 10px;

  th:nth-child(1) {
    width: 160px;

    @include md {
      width: 220px;
    }

    @include lg {
      width: 280px;
    }
  }

  th:nth-child(2) {
    width: 100px;

    @include md {
      width: 120px;
    }
  }

  td:nth-child(3) {
    font-size: 10px;
    color: $color-brand-orange;
    text-align: end;
  }

  tr {
    border-bottom: 1px solid $color-shades-darkGray;
    padding: 3px 2px;
  }
}

@media (max-width: 767px) {
  .prices {
    overflow-x: scroll;
  }
}

// table.prices {
//   width: 100%;
//   text-align: left;
//   border-collapse: collapse;
//   font-family: $font-family-secondary;
//   margin-top: 20px;
//   margin-bottom: 10px;
//   th:nth-child(1) {
//     @include xs {
//       width: 160px;
//     }
//     @include md {
//       width: 220px;
//     }
//     @include lg {
//       width: 280px;
//     }
//   }
//   th:nth-child(2) {
//     width: 100px;
//     @include md {
//       width: 120px;
//     }
//   }
//   td:nth-child(3) {
//     font-size: 10px;
//     color: $color-brand-orange;
//     text-align: end;
//   }
// }

// table.prices tr {
//   border-bottom: 1px solid $color-shades-darkGray;
//   padding: 3px 2px;
// }
