@import "/src/sass/global";

@media screen and (max-width: 768px) {
  .hero-big-image {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-mobil-image {
    display: none !important;
  }
}

.blog-hero-container {
  position: relative;
  padding: 0 !important;
}

.blog-title {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  margin: 0;
}

.blog-hero-image {
  z-index: 1;
}

.hero-mobil-image {
  height: 100vw;
}
