@import "/src/sass/global";

.a {
  border: 2px white solid;
}

.hazirend--desktop--container {
  @media only screen and (min-width: 992px) {
    width: 670px;
    margin: 0 auto;
  }
  a:link {
    text-decoration: none;
    color: $color-brand-orange !important;
  }
  a:visited {
    color: $color-brand-orange !important;
  }
}

.simple-header-style {
  height: 50px;
  background-color: $color-shades-darkGray;
  border-top: 1px solid $color-shades-lightBlack;
  border-bottom: 1px solid $color-shades-lightBlack;
  display: flex;
  align-items: center;
}
