@import "/src/sass/global";

@media screen and (max-width: 768px) {
  .hero-big-image {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-mobil-image {
    display: none !important;
  }
}

.hirlevel-hero-container {
  position: relative;
  padding: 0 !important;
}

.hirlevel-title {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  margin: 0;
}

.hirlevel-hero-image {
  z-index: 1;

  // @media only screen and (min-width: 721px) {
  //   height: 30vw;
  // }

  // @media only screen and (min-width: 1px) and (max-width: 720px) {
  //   height: 100vw;
  // }
}

.hirlevel--desktop--container {
  @media only screen and (min-width: 992px) {
    width: 670px;
    margin: 0 auto;
  }
  a:link {
    text-decoration: none;
    color: $color-brand-orange !important;
  }
  a:visited {
    color: $color-brand-orange !important;
  }
}

.hirlevel-input-name {
  @include xs {
    margin-bottom: $base-margin-items;
  }

  @include md {
    margin-bottom: 0;
  }
}

.hirlevel-input-email {
  margin-bottom: $base-margin-items;
}

.hirlevel-acceptance {
  display: flex;
  flex-direction: row;
  line-height: 1.4;
  margin-bottom: 20px;
}

.hirlevel-button {
  @media only screen and (min-width: 1px) and (max-width: 768px) {
    .btn {
      width: 100%;
    }
  }
}
