@import "/src/sass/global";

.holdnapok-wrapper {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: $color-brand-orange;
  }

  tr:nth-child(even) {
    background-color: $color-shades-lightBlack;
  }
}

@media screen and (max-width: 768px) {
  .hero-big-image {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-mobil-image {
    display: none !important;
  }
}

.hirlevel-hero-container {
  position: relative;
  padding: 0 !important;
}

.hirlevel-title {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  margin: 0;
}

.hirlevel-hero-image {
  z-index: 1;
}

.holdnapok-frame {
  @include md {
    .moondays-right-column {
      order: 2;
    }
  }
}

.holdnapok--moondayCard--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  background: black;
  max-width: 70ch;

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop {
  z-index: 9998;
  background-color: orange;
}

.year-cards-container {
  display: flex;
  overflow-x: auto;
  width: 100%;
  scroll-snap-type: x mandatory; /* Opcionális: gurítás során "ragad" a kártyákhoz */
}

.year-cards-container::-webkit-scrollbar {
  display: none; /* Elrejti a görgetősávot (opcionális) */
}
