@import "/src/sass/global";

.tabs__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.tabs__label {
  // display: inline-block;
  // margin-right: 20px;
}

.tabs__label.active {
  color: orange;
  border-bottom: 2px solid orange;
}

.tabs__header {
  width: 100%;
  display: flex;
  align-content: space-between;
  cursor: pointer;
}

.tabs__header h3 {
  // background-color: aqua;
}

.tabs__label:nth-child(2) {
  display: block;
  margin-left: auto;
}
