@import "/src/sass/global";

div.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

button[type="submit"] {
  background-color: color(black);
  border: 2px solid color(black);
}

@include md {
  .kapcsolat-navigation {
    .btn {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .kapcsolat-navigation-button {
    .btn {
      width: 100%;
    }
  }
}

.kapcsolat-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  svg {
    width: 24px;
    height: 24px;
  }

  p:nth-child(1) {
    @media screen and (min-width: 1px) and (max-width: 400px) {
      display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      display: none;
    }
  }
}

.kapcsolat-title {
  margin-top: 26px;
  // margin-bottom: 40px;

  @include lg {
    margin-top: 40px;
  }
}

.kapcsolat-text {
  max-width: 350px;
}

.kapcsolat-social-box {
  .social-icons {
    margin-bottom: 1rem;
  }
  paddig-top: -20px;
}

.kapcsolat-social-text {
  margin-bottom: 20px;
}

label {
  font: 1rem "Nunito Sans", sans-serif;
}

.kapcsolat-button {
  @media only screen and (min-width: 1px) and (max-width: 768px) {
    .btn {
      width: 100%;
    }
  }
}

.massage-wrapper {
  margin-top: 5px;
  width: 100%;
}

.kapcsolat-modal-box {
  padding-top: 12px;
  padding-bottom: 20px;
  border-bottom: solid 1px $color-shades-lightBlack;
  @media only screen and (min-width: 1px) and (max-width: 768px) {
    margin-bottom: -12px;
  }
  @media only screen and (min-width: 769px) {
    margin-bottom: 28px;
  }
  button {
    padding-top: 0;
    padding-bottom: 0;
  }
  dialog {
    background-color: $color-shades-gray;
    @include xs {
      margin-left: 5%;
      margin-right: 5%;
    }
    @include md {
      margin-left: 20%;
      margin-right: 20%;
    }
    @include xl {
      margin-left: 30%;
      margin-right: 30%;
    }

    p {
      margin-right: 30px;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      cursor: pointer;
      svg {
        margin: 8px;
        margin-top: 14px;
      }
    }
  }
}

dialog:div {
  width: 90%;
}
