@import "/src/sass/global";

div.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

button[type="submit"] {
  background-color: color(black);
  border: 2px solid color(black);
}

@include md {
  .kapcsolat-navigation {
    .btn {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .kapcsolat-navigation-button {
    .btn {
      width: 100%;
    }
  }
}

.kapcsolat-address {
  display: inline;
}

.kapcsolat-title {
  margin-top: 26px;
  margin-bottom: 40px;

  @include lg {
    margin-top: 40px;
  }
}

.kapcsolat-social-box {
  margin-top: 20px;
  border-top: solid 1px $color-shades-lightBlack;

  @media screen and (min-width: 1px) and (max-width: 768px) {
    border-bottom: solid 1px $color-shades-lightBlack;
  }

  .social-icons {
    margin-bottom: 2rem;
  }
}

.kapcsolat-social-text {
  margin-bottom: 20px;
}
// @media screen and (max-width: 576px) {
//   button[type="submit"] {
//     margin-top: 5px;
//   }
// }

.form-control {
  input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
  }
  label {
    display: block;
  }

  display: flex;
  flex-direction: row;

  a:link {
    text-decoration: none;
    color: $color-brand-orange !important;
  }
  a:visited {
    color: $color-brand-orange !important;
  }
}

label {
  font: 1rem "Nunito Sans", sans-serif;
}

.kapcsolat-button {
  @media only screen and (min-width: 1px) and (max-width: 768px) {
    .btn {
      width: 100%;
    }
  }
}

// .kapcsolat__textarea {
//   width: 100%;
//   background: transparent;
//   box-shadow: 0px 0px 0px 1px $color-shades-gray inset;
//   height: 44px;

//   &:focus-within {
//     box-shadow: 0px 0px 0px 1px $color-brand-orange inset;
//     color: $color-brand-orange;
//     border-radius: none !important;
//   }
// }
