@import "/src/sass/global";

div.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

button[type="submit"] {
  background-color: color(black);
  border: 2px solid color(black);
}

@include md {
  .kapcsolat-navigation {
    .btn {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .kapcsolat-navigation-button {
    .btn {
      width: 100%;
    }
  }
}

.kapcsolat-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  svg {
    width: 24px;
    height: 24px;
  }

  p:nth-child(1) {
    @media screen and (min-width: 1px) and (max-width: 400px) {
      display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      display: none;
    }
  }
}

.kapcsolat-title {
  margin-top: 26px;
  // margin-bottom: 40px;

  @include lg {
    margin-top: 40px;
  }
}

.kapcsolat-text {
  max-width: 350px;
}

.kapcsolat-social-box {
  .social-icons {
    margin-bottom: 1rem;
  }
  paddig-top: -20px;
}

.kapcsolat-social-text {
  margin-bottom: 20px;
}

.form-control {
  input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
  }
  label {
    display: block;
  }

  display: flex;
  flex-direction: row;

  a:link {
    text-decoration: none;
    color: $color-brand-orange !important;
  }
  a:visited {
    color: $color-brand-orange !important;
  }
}

label {
  font: 1rem "Nunito Sans", sans-serif;
}

.kapcsolat-button {
  @media only screen and (min-width: 1px) and (max-width: 768px) {
    .btn {
      width: 100%;
    }
  }
}

.massage-wrapper {
  margin-top: 5px;
  width: 100%;
}

.kapcsolat-body {
  p:nth-child(3) {
    padding-bottom: 20px;
    border-bottom: solid 1px $color-shades-lightBlack;
    @media only screen and (min-width: 1px) and (max-width: 768px) {
      margin-bottom: -20px;
    }
    @media only screen and (min-width: 769px) {
      margin-bottom: 20px;
    }
  }
}
