@import "/src/sass/global";

.card__mysore-program {
  padding: 20px;
}

.framed-section-orange-title--h4 {
  margin-bottom: 8px !important;
}

.mysore-program--wrapper {
  .framed-section-orange__card {
    p {
      margin-bottom: 20px;
    }
  }
}

.mysore-program-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.mysore-program-avatar__image-container {
  height: 60px;
}
