@import "/src/sass/global";

.card__mysore-program {
  padding: 20px;
}

.framed-section-orange-title--h4 {
  margin-bottom: 8px !important;
}

.mysore-program--wrapper {
  .framed-section-orange__body {
    @include xl {
      width: 90%;
    }
  }

  .framed-section-orange__card {
    p {
      margin-bottom: 20px;
    }
  }
}

.mysore-program-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.mysore-program-avatar__image-container {
  height: 60px;
}

.mysore-program--blessing-img {
  z-index: 2;
}

.mysore-program--tradicio {
  display: flex;
  justify-content: center;
}

.mysore-program--buttons {
  display: flex;
  justify-content: center;
}

.mysore-program--tradicio__image {
  display: flex;
  justify-content: center;
  img {
    margin-top: 20px;
    width: 150px;
  }
}

.mysore-program-lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .mysore-program--button-holder {
    width: 100%;
    .btn {
      width: 100%;
    }
  }
}
