@import "/src/sass/global";

.card-social-proof {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 4px;
  width: 100%;

  padding: 12px;
  margin: 12px;
  background-color: $color-shades-darkGray;
  position: relative;
}

.card-social-proof--inside {
  margin: 30px;
  :first-child {
    margin-bottom: 12px;
  }
}

.card-social-proof--header {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  gap: 12px;
}

.osztondij-timings {
  background-color: $color-shades-darkGray;
}

.osztondij-timings--wrapper {
  margin: 20px;
}

.slick-slider {
  width: 100%;
}

.slick-dots {
  margin-top: 16px;
}

.slick-dots li button:before {
  color: $color-shades-lightGray;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: $color-brand-orange;
}

.slick-dots li {
  margin: 0 0; /* függőleges és vízszintes margó */
}

.slick-dots li:focus {
  color: $color-shades-lightGray !important; /* A kívánt szín */
}

.slick-dots li:hover {
  color: $color-shades-lightGray !important; /* A kívánt szín */
}
