@import "/src/sass/global";

.rolunk-wrapper {
  .name-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    background-color: $color-brand-orange;
  }
}

.senki {
  width: 100%;
  height: 43px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  background-color: $color-brand-orange;
}
.senki::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.senki-container {
  background-color: $color-brand-orange;
  overflow-x: auto;

  div:nth-child(1),
  div:nth-child(2) {
    margin-bottom: 8px;
  }
}
