@import "/src/sass/global";

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  width: 24px;
  padding: 0;
}

/* Style the accordion content title */
.accordion__title {
  font-family: $font-family-secondary;
  font-weight: $font-weight-semi-bold;
  font-size: $body-font-size-mobile;
  text-align: left;
  @include md {
    font-size: $body-font-size-desktop;
  }
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-right: auto;
  transition: transform 0.6s ease;
  flex-shrink: 0;
}

/* Style to rotate icon when state is active */
.rotate__90deg {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: $color-shades-black;
  overflow: auto;
  transition: max-height 0.6s ease;
  overflow: hidden;
}

/* Style the accordion content text */
.accordion__text {
  width: inherit;
  padding-bottom: 4px;
  padding-right: 12px;

  p {
    a {
      color: orange;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.accordion-chevron {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 4px;
  height: 40px;
}
