@import "/src/sass/global";

@media screen and (max-width: 768px) {
  .hero-big-image {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-mobil-image,
  .blog-header-only-mobil {
    display: none !important;
  }
  .blogroll-desktop {
    margin-top: 40px;
  }
  .blog-right-column {
    margin-top: -20px;
  }
}

.blog-hero-container {
  position: relative;
  padding: 0 !important;
}

.blog-title {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  margin: 0;
}

.blog-hero-image {
  z-index: 1;
}

.hero-mobil-image {
  height: 100vw;
}

.blog--desktop--container {
  @media only screen and (min-width: 992px) {
    width: 670px;
    margin: 0 auto;
  }
  a:link {
    text-decoration: none;
    color: $color-brand-orange !important;
  }
  a:visited {
    color: $color-brand-orange !important;
  }
}

.blog-frame {
  @include md {
    .blog-right-column {
      order: 2;
    }
  }
}

.blog-list-wrapper {
  .separator-horizontal-full {
    @include md {
      display: none;
    }
  }
}

.blogposts-only-desktop {
  display: none;
  @include md {
    display: block;
  }
}

.blog-list-footer {
  padding-top: 20px;
}

.blog-list-footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  btn:nth-child(1) {
    padding-top: 40px;
  }
  @include md {
    gap: 20px;
  }
  div:nth-child(odd) {
    gap: 12px;
  }
  .btn-icon {
    gap: 0 !important;
  }
}
