@import "/src/sass/global";

.blog-card {
  border-bottom: solid 1px $color-shades-lightBlack;
  padding-bottom: 20px;
}

div.blog-card:nth-last-child(1) {
  border-bottom: none;
  margin-bottom: 0;
}

.blog-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    color: $color-shades-white;
  }
  padding-bottom: 0.5rem;
}

.blog-card-body {
  margin-top: 8px;
  .blog-card-title {
    margin-bottom: 8px;
  }
  .blog-card-text {
    margin-bottom: 16px;
  }
}

.blog-card-footer {
  margin-top: 0.5rem;
}

.blog-card-footer-first-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.blog-card-footer-button {
  margin-top: 20px;

  a {
    color: $color-brand-orange;
    margin: 4px 0px;
    line-height: 1.4;
    font-size: 16px;
  }

  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:active {
    text-decoration: underline;
  }
}

.blog-card-footer-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.timetoread-text {
  padding: 12px 0px;
}
