@import "/src/sass/global";

.blog-post-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.blog-post-image {
  margin-top: 60px;
}

article {
  li {
    display: list-item;
  }
  color: white;
}
