@import "/src/sass/global";

.blog-post-header {
  h1:first-child {
    margin-bottom: 12px;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  div:nth-last-child(1) {
    margin-left: 12px;
  }
}
.blog-posts-meta-first-line,
.blog-posts-meta-second-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.blog-post-image {
  margin-top: 60px;
  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .hide-blogsidebar,
  .blog-posts-wrapper {
    .vertical-separator {
      display: none;
    }
  }

  .blog-posts-meta-first-line {
    flex-direction: column;
    justify-content: flex-start;
  }
  .blog-posts-meta-second-line {
    flex-direction: column-reverse;
    p:nth-child(2) {
      align-self: flex-end;
    }
  }
  .meta {
    div:nth-child(2) {
      margin-left: auto;
    }
  }
  .meta-author {
    align-self: flex-start;
  }
  div.blog-card-footer.tag-button {
    align-self: flex-end;
  }
  .blogposts-tag-button {
    margin: 0 !important;
    align-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .separator-horizontal-full {
    display: none;
  }
  .blog-posts-body-style {
    margin-top: 48px;
  }
}

// Blog posts body style
.blog-posts-body-style {
  margin-top: 80px;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    white-space: pre-line;
    margin-bottom: 1rem;
  }
}

article {
  ol {
    list-style: none;
    counter-reset: item;
    font-family: $font-family-secondary;
    font-size: 1.1428571429rem !important;
    font-weight: $font-weight-regular;
    margin-left: 40px;

    li {
      counter-increment: item;
      margin-bottom: 14px;
      position: relative;
    }
    li:before {
      margin-right: 20px;
      content: counter(item);
      position: absolute;
      left: -40px;
      width: 1.4em;
      height: 1.4em;
      background-color: $color-brand-orange;
      color: $color-shades-black;
      font-family: $font-family-secondary;
      font-weight: 800;
      text-align: center;
      display: inline-block;
    }
  }

  ul {
    list-style: none;
    margin-left: 80px;
    font-family: $font-family-secondary;
    font-size: 1.1428571429rem !important;
    font-weight: $font-weight-regular;
    list-style-position: outside !important;

    li {
      margin-bottom: 10px;
      position: relative;
    }
    li::before {
      content: url("../../images/chevron_right.svg");
      color: $color-brand-orange;
      font-size: 6px;
      position: absolute;
      top: 0;
      left: -40px;
    }
  }

  blockquote {
    border-left: 8px solid $color-brand-orange;
    padding: 12px 20px;
    margin-left: 0;
    margin-right: 0;
    width: fit-content;
    p {
      margin-bottom: 0 !important;
      font-weight: 900;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}
