@import "/src/sass/global";

.btn {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.5s ease;
  font-size: 16px;
  line-height: 140%;
  border-radius: 2px;
  padding: 11px;
  // width: fit-content;
  // width: 100%;
}

.btn:hover {
  transform: translateY(0px);
  background-color: $color-brand-orange;
  color: $color-shades-black;
}

.btn--primary--solid {
  background-color: $color-brand-orange;
  color: $color-shades-black;
  border: none;
}

.btn--mobil--primary--solid {
  background-color: $color-brand-orange;
  color: $color-shades-black;
  border: none;
}

.btn--mobil--primary--outline {
  background-color: transparent;
  color: $color-brand-orange;
  border: 2px solid $color-brand-orange;
}

.btn--secondary--solid {
  background-color: $color-shades-gray;
  color: $color-shades-black;

  @include xl {
    font-size: 20px;
    font-weight: 600;
    padding: 16px 32px;
  }
}

.btn--mobil--secondary--solid--menu {
  background-color: $color-shades-lightGray;
  color: $color-shades-black;
  // border-radius: 2px;
  padding: 4px !important;
  font-size: large !important;
  font-weight: 900 !important;
}

// footer button
.btn--secondary--outline {
  background-color: transparent;
  color: $color-shades-lightGray;
  border: 2px solid $color-shades-lightGray;

  @include xl {
    font-size: 20px;
    font-weight: 600;
    padding: 16px 32px;
  }
}

.btn--secondary--outline:hover {
  transform: translateY(0px);
  background-color: $color-shades-lightGray;
  color: $color-shades-black;
}

.btn--mobil--secondary--outline--menu--small {
  background-color: transparent;
  color: $color-shades-lightGray;
  border: 2px solid $color-shades-lightGray;
  padding: 12px !important;
  font-size: small !important;
  font-weight: 900 !important;
  margin-right: 1rem;
}

.btn--mobil--secondary--outline--menu--small:hover {
  transform: translateY(0px);
  background-color: $color-shades-lightGray;
  color: $color-shades-black;
}

.btn--mobil--secondary--outline--menu {
  background-color: transparent;
  color: $color-shades-lightGray;
  border: 2px solid $color-shades-lightGray;
  font-size: large !important;
  font-weight: 900 !important;
  margin-right: 16px;
}

.btn--mobil--secondary--outline--menu:hover {
  transform: translateY(0px);
  background-color: $color-shades-lightGray;
  color: $color-shades-black;
}

.btn--primary--outline {
  background-color: transparent;
  color: $color-shades-lightGray;
  border: 2px solid $color-brand-orange;
}
