@import "/src/sass/global";

.btn {
  font-family: "Nunito Sans", sans-serif;
  // font-weight: 400;
  cursor: pointer;
  transition: transform 0.5s ease;
  // margin-top: 12px;
  // margin-bottom: 12px;
  border-radius: 2px;
}

.btn:hover {
  transform: translateY(0px);
  background-color: $color-primary-orange;
  color: $primary-black-color;
}

.btn--primary--solid {
  background-color: $color-primary-orange;
  color: $primary-black-color;
  border: none;
}

.btn--mobil--primary--solid {
  background-color: $color-primary-orange;
  color: $primary-black-color;
  border: none;
  width: 100%;
}

.btn--mobil--primary--outline {
  background-color: transparent;
  color: $color-primary-orange;
  border: 2px solid $color-primary-orange;
  width: 100%;
}

.btn--mobil--secondary--solid {
  background-color: $primary-gray-color;
  color: $primary-black-color;
  // border-radius: 2px;
  padding: 4px !important;
  width: 100%;
}

.btn--mobil--secondary--solid--menu {
  background-color: $primary-gray-color;
  color: $primary-black-color;
  // border-radius: 2px;
  padding: 4px !important;
  font-size: large !important;
  font-weight: 900 !important;
}

.btn--mobil--secondary--outline {
  background-color: transparent;
  color: $primary-gray-color;
  border: 2px solid $primary-gray-color;
  width: 100%;
}

.btn--mobil--secondary--outline:hover {
  transform: translateY(0px);
  background-color: $primary-gray-color;
  color: $primary-black-color;
}

.btn--mobil--secondary--outline--menu--small {
  background-color: transparent;
  color: $primary-gray-color;
  border: 2px solid $primary-gray-color;
  padding: 12px !important;
  font-size: small !important;
  font-weight: 900 !important;
  margin-right: 16px;
}

.btn--mobil--secondary--outline--menu--small:hover {
  transform: translateY(0px);
  background-color: $primary-gray-color;
  color: $primary-black-color;
}

.btn--mobil--secondary--outline--menu {
  background-color: transparent;
  color: $primary-gray-color;
  border: 2px solid $primary-gray-color;
  font-size: large !important;
  font-weight: 900 !important;
  margin-right: 16px;
}

.btn--mobil--secondary--outline--menu:hover {
  transform: translateY(0px);
  background-color: $primary-gray-color;
  color: $primary-black-color;
}

.btn--primary--outline {
  background-color: transparent;
  color: $color-primary-orange;
  border: 2px solid $color-primary-orange;
}

.btn--medium {
  padding: 10px 20px;
  font-size: 18px;
}

.btn--small {
  padding: 12px 12px;
  font-size: 16px;
}
