.contact_checkbox {
  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: transparent;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: $color-shades-lightGray;
    width: 1.15em;
    height: 1.15em;
    border-radius: none !important;
    border: 1px solid currentColor;
    transform: translateY(-0.075em);
    display: inline-grid;
    place-content: center;
    margin-right: 10px;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 1.2em;
    height: 1.2em;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    background-color: $color-primary-orange;

    transform-origin: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  .form-control + .form-control {
    margin-top: 1em;
  }

  .form-control {
    background-color: transparent;
    border: none;
    padding-left: 0;
    color: $color-shades-lightGray;
  }
}
