@import "/src/sass/global";

.events-mobil-card {
  border: solid 2px $color-shades-lightBlack;
  border-radius: 2px;
}
.events-mobil-card-separator {
  border-top: solid 1px $color-shades-lightBlack;
  width: 100%;
  margin-top: 12px;
}

.events-mobil-card-content {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
  justify-content: space-between;
  .erm-event-card-footer {
    margin-top: auto;
    padding-top: 20px;
  }
  a {
    text-decoration: none;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  height: 200px;
}
.events-mobil-card-avatar {
  margin-top: 8px;
}
