@import "/src/sass/global";

.event-card {
  h3 {
    text-transform: uppercase;
  }
  border: solid 2px $color-shades-darkGray;
  border-radius: 2px;
}

.event-card-content-wrapper {
  padding: 20px;
}

.event-card-body {
  padding-top: 20px;
  padding-bottom: 20px;
  @include md {
    height: 120px;
  }
}

.avatar-group {
  align-items: center;
  gap: 8px;
}

.event-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-card-header-secondline {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;

  .blog-card-header-separator {
    display: none;
  }

  @include md {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    .blog-card-header-separator {
      display: block;
      height: 30px;
      margin: 0px 8px;
    }
  }

  a:link {
    text-decoration: none;
  }
}
