@import "/src/sass/global";

.event-card {
  h3 {
    text-transform: uppercase;
  }
  border: solid 2px $color-shades-darkGray;
  border-radius: 2px;
}

.event-card-content-wrapper {
  padding: 20px;
}

.event-card-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.avatar-group {
  align-items: center;
  gap: 8px;
}

.event-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-card-header-secondline {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;

  @include md {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  a:link {
    text-decoration: none;
  }
}
