@import "/src/sass/global";

.footer {
  // background-color: black;
  margin-top: 40px;
  color: white;
  width: 100%;
  padding-left: 18px;
  display: block;
  border-top: solid 1px;
  border-color: $primary-gray-color;

  a:link {
    text-decoration: none;
    color: $primary-orange-color;
  }
}

.footer--first-row {
  display: inline !important;
}

.footer--logo {
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 0.9;
}
