@import "/src/sass/global";

.footer {
  margin-top: 30px;
  a:link {
    text-decoration: none;
    color: $color-brand-orange;
  }
}

.footer__brand {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

// .footer--first-row {
//   display: inline !important;
// }

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    fill: $color-shades-lightGray;
    // fill-opacity= "0.81";
  }

  svg:hover {
    fill: $color-brand-orange;
  }
}
