@import "/src/sass/global";

.footer-desktop-menu-lists {
  display: flex;
  flex-direction: row;

  ul {
    list-style-type: none;
  }

  li {
    color: $color-shades-lightGray;
  }

  p {
    margin-bottom: 4px;
  }

  .separator {
    border-bottom: solid 1px $color-shades-lightBlack;
  }

  .footer__english {
    margin-top: 2rem;
  }
}

.footer-submenu,
.footer-menuitem {
  &:hover {
    color: $color-brand-orange !important;
    // text-decoration-line: underline;
    // text-decoration-color: $color-brand-orange;
    // text-decoration-thickness: 3px;
    // color: $color-shades-white !important;
  }
}

.fake-button {
  background-color: transparent;
  cursor: pointer !important;
  padding: 0 !important;
}

.menu-flash {
  color: $color-shades-white;
  animation-name: flash;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
}

@keyframes flash {
  0% {
    color: $color-shades-white;
  }
  25% {
    color: $color-brand-orange;
  }
  50% {
    color: $color-brand-orange;
  }
  100% {
    color: $color-brand-orange;
  }
}
