@import "/src/sass/global";

.footer {
  a:link {
    text-decoration: none;
    color: $color-shades-lightGray !important;
  }
}

.footer__brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px $color-shades-lightBlack;
  padding: 2.5rem;
}

.footer__icon__text {
  min-width: 200px;
  max-width: 250px;
}

.footer__newsletter {
  border-left: solid 1px $color-shades-lightBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 80px;
  gap: 40px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  svg {
    fill: $color-shades-lightGray;
  }

  svg:hover {
    fill: $color-brand-orange;
  }
}

.footer__bottom {
  border-top: solid 1px $color-shades-lightBlack;
  border-bottom: solid 1px $color-shades-lightBlack;

  #wcb.wcb-d #wcb_a {
    background-color: $color-brand-orange;
    color: $color-shades-lightBlack;
    border-color: $color-brand-orange;
  }

  #wcb #wcb_a,
  #wcb #wcb_g {
    border: 0.13rem solid $color-brand-orange;
    color: $color-shades-lightBlack;
  }
}
.footer__bottom__text {
  text-align: center;
}
