@import "/src/sass/global";

.gatsby-image-wrapper {
  z-index: -1;
}

.hero-container {
  position: relative;
  padding: 0 !important;
}

.hero-text {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include xs {
    gap: 0;
  }
  @include sm {
    gap: 0;
  }
  @include md {
    gap: 0;
  }
}

.hero--font-big {
  font-family: "Abril Fatface", cursive;
}

.hero--font-subtitle {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 0;
  text-align: left;
}

@media only screen and (min-width: 1px) and (max-width: 260px) {
  .hero-text {
    margin-top: 60px;
  }
  .hero--font-big {
    font-size: 2.2rem;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .hero--font-subtitle {
    font-size: 1rem;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 261px) and (max-width: 280px) {
  .hero-text {
    margin-top: 60px;
  }
  .hero--font-big {
    font-size: 2.4rem;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .hero--font-subtitle {
    font-size: 1.2rem;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 281px) and (max-width: 320px) {
  .hero-text {
    margin-top: 60px;
  }
  .hero--font-big {
    font-size: 2.4rem;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .hero--font-subtitle {
    font-size: 1.25rem;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 400px) {
  .hero-text {
    margin-top: 60px;
  }
  .hero--font-big {
    font-size: 3rem;
    line-height: 130%;
    margin-bottom: 8px;
  }
  .hero--font-subtitle {
    font-size: 1.5rem;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 576px) {
  .hero-text {
    margin-top: 60px;
  }
  .hero--font-big {
    font-size: 3.4rem;
    line-height: 130%;
    margin-bottom: 8px;
  }
  .hero--font-subtitle {
    font-size: 1.8rem;
    margin-bottom: 32px;
  }
  .hero--buttons {
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .hero-text {
    transform: translateY(-10%);
  }
  .hero--font-big {
    font-size: 5rem;
  }
  .hero--font-subtitle {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .hero-text {
    width: 50%;
  }
  .hero--font-big {
    font-size: 2.8rem;
    line-height: 120%;
    margin-top: 36px;
    margin-bottom: 12px;
  }
  .hero--font-subtitle {
    font-size: 1rem;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .hero-text {
    width: 50%;
  }
  .hero--font-big {
    font-size: 4rem;
    line-height: 120%;
    margin-top: 32px;
    margin-bottom: 12px;
  }
  .hero--font-subtitle {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .hero-text {
    width: 50%;
  }
  .hero--font-big {
    font-size: 4rem;
    line-height: 120%;
    margin-top: 32px;
  }
  .hero--font-subtitle {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1401px) {
  .hero-text {
    width: 50%;
    transform: translateY(5%);
  }
  .hero--font-big {
    font-size: 4.5rem;
    line-height: 120%;
  }
  .hero--font-subtitle {
    font-size: 1.7rem;
  }
}

.hero--buttons {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
}

.hero--buttons {
  @media only screen and (min-width: 1px) and (max-width: 768px) {
    .btn {
      width: 100%;
    }
  }
  @include md {
    .btn {
      display: none;
    }
  }
}

.hero-button-desktop {
  @include xs {
    display: none;
  }
  @include md {
    display: block;
  }
}
