@import "/src/sass/global";

.horizontal-scroller {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  overflow: hidden;
}

.image-wrapper::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  -ms-overflow-style: none;
}

.image-wrapper {
  scrollbar-width: none;
}

.horizontal-scroller > .image-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 12px;
}

.image-container {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: start;
  // position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.dot-navigation {
  // position: absolute;
  // left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

.dot {
  width: 10px;
  height: 10px;
  background: $color-shades-darkGray;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: $color-brand-orange;
}
