@import "/src/sass/global";

div.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

// .kapcsolat__inputfield input {
//   border: 2px solid color(gray);
// }

button[type="submit"] {
  background-color: color(black);
  border: 2px solid color(black);
  padding: 8px;
}

@media screen and (max-width: 576px) {
  button[type="submit"] {
    margin-top: 5px;
  }
}
