@import "/src/sass/global";

.logo-margin-left {
  margin-left: $navbar-items-margin;
}

#logo {
  fill: $bw-logo-color;
  -webkit-transition: -webkit-transform 1s;
  transform-origin: center;
  position: fixed;
  margin-left: 16px;
}

.navbar-logo:hover {
  #logo {
    -webkit-transform: rotate(360deg) translateZ(0);
    position: relative;
    z-index: 9999;
  }
}
