@import "/src/sass/global";

#logo {
  fill: $bw-logo-color;
  -webkit-transition: -webkit-transform 1s;
  transform-origin: center;
}

.navbar-brand:hover {
  #logo {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
