@import "/src/sass/global";

.holdnapok-card {
  border: solid 2px $color-shades-lightBlack;
  border-radius: 2px;

  .separator-horizontal {
    border-top: solid 1px $color-shades-lightBlack;
  }
}

.holdnapok-card-content {
  padding: 20px;
}

.holdnapok-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  p {
    text-transform: capitalize;
  }
}

.holdnapok-card__body__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 12px;
}

.holdnapok-card__body__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 18px;
}

.holdnapok-card__body__grid__leftSide {
  text-align: right;
  h3 {
    margin-bottom: 8px;
  }
}

.holdnapok-card__body__ekadasi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  h3 {
    margin-bottom: 8px;
  }
}
