@import "/src/sass/global";

.name-card {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
  background-color: $color-shades-darkGray;
  padding: 12px 12px;
  span {
    font-weight: 800;
  }
  h4 {
    margin: 0;
  }
}

.guest-teacher-item {
  display: inline-block;
  margin-right: 8px;
}
