@import "/src/sass/variable";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap");

// .navbar-brand {
//   margin-right: 0rem !important;
// }

// .offcanvas-end {
//   border: none;
// }

/* Hamburger menus beallitasok (START) */
@media screen and (max-width: 1200px) {
  .navbar-nav {
    padding: 0;
    margin: 0;

    .nav-link {
      margin: 0;
      height: 54px;
      padding: 0 20px;
    }
    .dropdown-item {
      margin: 0;
      background-color: #424242;
    }
    .dropdown-item:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
  }

  .btn-close-white:focus,
  .btn-close-white:active {
    outline: none;
    box-shadow: none;
  }

  .offcanvas-body {
    padding-left: 0px;
    padding-right: 0rem;
  }
  .show {
    background-color: #333333;
    width: 100%;
    a {
      font-family: "Nunito Sans", sans-serif;
      font-size: x-large !important;
      margin-left: 10px;
    }
    ul {
      margin-top: 30px;
    }
  }

  .dropdown-item {
    color: rgba(255, 255, 255, 0.55);
    padding: 8px 40px;
  }

  .dropdown-menu {
    margin-left: 0;
    margin-right: 0px;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    border: none;
    display: block;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all 200ms ease-in-out;
    border-radius: 0;

    &.show {
      max-height: 400px;
      opacity: 1;
      visibility: visible;
    }
    .nav-item {
      margin: 0;
    }
  }

  /* Bootstrap hamburger eltuntetese KEZDET */
  .navbar-toggler {
    border: 0;
    padding-right: 0px;
    outline: none !important;
  }
  /* Bootstrap hamburger eltuntetese VEGE */

  
  /* Navbar Mobile View improvements */
  .nav-link.dropdown-toggle:after {
    content: "+";
    display: inline-flex;
    align-items: center;
    height: inherit;
    font-size: 1.5em;
    font-weight: 100;
    font-family: auto;
    float: right;
    margin: -0.255em 0 0 0;
    border: 0;
    padding-left: 0.25em;
    line-height: 1.17em;
  }

  .nav-link.dropdown-toggle.show:after {
    content: "–";
  }
}
/* Hamburger menus beallitasok (END) */

// .dropdown-item:focus,
// .dropdown-item:hover {
//   color: rgba(255, 255, 255, 0.55);
// }

/* Amikor nyitva van a menu */
@media screen and (min-width: 1200px) {
  .offcanvas-body {
    margin-left: auto !important;

    li {
      margin-top: auto;
      margin-bottom: auto;
      font-family: "Nunito Sans", sans-serif;
      font-size: x-large !important;
    }
  }

/* Almenus menupont haromszog eltuntetese */
  // .nav-link.dropdown-toggle:after {
  //   display: none !important;
  // }

  .dropdown-menu {
      height: 100%;
      background-color: red;
      display: block;
    
    }

    .nav-item {
      margin: 0;
    }



}

.nav-link {
  outline: none;
}

/* hide scrollbar but allow scrolling */
div {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


