@import "/src/sass/global";

.navbar-menu-mobil-header-wrapper {
  margin: 28px 14px 0;

  .navbar-menu-mobil-header-container {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 12px;
    flex-wrap: wrap;
    z-index: 2;
    padding-bottom: 28px;
    border-bottom: 1px solid $color-shades-darkGray;
  }
}
