@import "/src/sass/global";

.navbar_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // background-color: $primary-background-color;
  transition: all 1s linear;
  // height: 60px;
}

.scrolled {
  opacity: 1;
  background-color: black;
}

.hide {
  transform: translateY(-80px);
  opacity: 0;
}
