@import "/src/sass/global";

.navbar-desktop {
  display: flex;
  align-items: center;

  a {
    color: $primary-gray-color;
  }

  a:visited,
  a:active {
    color: inherit;
  }

  a:hover {
    color: $primary-orange-color;
  }
}
