@import "/src/sass/global";

.navbar-menu-mobil-header {
  // width: 100%;
  margin: 14px;
  margin-top: 4rem;

  .navbar-menu-mobil-header-container {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 12px;
    flex-wrap: wrap;
    z-index: 2;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid $color-shades-white;
  }

  .box {
    border-bottom: 1px white solid;
  }
}
