@import "/src/sass/global";

.menuFooter--box {
  display: block;
  height: auto;

  ul {
    list-style: none;
    margin-left: 16px;
    padding-right: 16px;

    li {
      display: block;
      float: left;
    }
  }
  @media only screen and (min-width: 1px) and (max-width: 1024px) {
    hr.solid {
      border-top: 3px solid #bbb;
      margin: 16px 16px 24px;
    }
  }
}
