@import "/src/sass/global";

.menuLanguage--box {
  display: block;
  height: auto;

  ul {
    list-style: none;
    margin-left: 16px;
    padding-right: 16px;

    li {
      display: block;
      float: left;
    }
  }

  @media only screen and (min-width: 1px) and (max-width: 720px) {
    hr.solid {
      border-top: 3px solid #bbb;
      margin: 24px 16px 16px;
    }
    li:nth-child(n + 3) {
      display: none;
    }
  }
}
