@import "/src/sass/global";

.navbar-desktop-featured-container {
  ul {
    list-style: none;
    // margin-left: 16px;
    // padding-right: 16px;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 12px;
    flex-wrap: wrap;

    li {
      display: block;
      float: left;
    }
  }
}
