@import "/src/sass/global";

.mobil-menu {
  height: 100%;
  width: 0;
  position: fixed;
  // z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
}

.nav-link {
  color: white;
  height: 54px;

  &:hover {
    color: gray !important;
  }
}

.dropdown-item {
  margin: 0;
  background-color: #424242;
  color: white;
  font-weight: 800;
  font-size: xlarge;
  height: 48px;
  padding-right: 50px;
}

.dropdown-item:hover {
  color: gray;
  background-color: transparent;
}

.dropdown-menu {
  background-color: #424242;
  width: 100%;
  margin: 0 !important;
  border: none;
  display: block;
  opacity: 0;
  padding: 0;
  visibility: hidden;
  max-height: 0;
  transition: all 200ms ease-in-out;
  border-radius: 0;
  position: relative !important;
  transform: none !important;
  text-align: right;

  &.show {
    max-height: 400px;
    opacity: 1;
    visibility: visible;
  }
  .nav-item {
    margin: 0;
  }
}

a#navbarDropdown:active {
  color: gray !important;
}

// Submenu icon starts

// $toggleAnimationSpeed: 400ms;
// $toggleAnimationSpeedMod: 150ms;

// .nav-link.dropdown-toggle {
//   &:before,
//   &:after {
//     content: "";
//     background-color: white;
//     display: block;
//     font-size: 20px;
//     width: 1em;
//     height: 2px;
//     border: none;
//     position: absolute;
//     right: calc(var(--overlay-side-padding) + 2px);
//   }

//   &:before {
//     animation: dropdownToggleIconSpinMoreBack $toggleAnimationSpeed +
//       $toggleAnimationSpeedMod forwards;
//   }

//   &:after {
//     width: 2px;
//   }
// }
// Submenu icon ends

// $toggleAnimationSpeed: 400ms;
// $toggleAnimationSpeedMod: 150ms;

// .nav-link.dropdown-toggle {
//   &:before,
//   &:after {
//     content: "";
//     background-color: white;
//     display: block;
//     font-size: 20px;
//     width: 1em;
//     height: 2px;
//     border: none;
//     position: absolute;
//     right: calc(var(--overlay-side-padding) + 2px);
//   }

//   &:before {
//     animation: dropdownToggleIconSpinMoreBack $toggleAnimationSpeed +
//       $toggleAnimationSpeedMod forwards;
//   }

//   &:after {
//     width: 2px;
//   }
// }

// .nav-link {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
