@import "/src/sass/global";

.navbar_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 200ms ease, transform 1300ms ease;
}

.scrolled {
  background-color: $primary-background-color;
}

.hide {
  transform: translateY(-80px);
  background-color: $primary-background-color;
}
