@import "/src/sass/variable";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap");


// .navbar-brand {
//   margin-right: 0rem !important;
// }

.offcanvas-end {
  border: none;
}

/* Hamburger menus beallitasok (START) */
@media screen and (max-width: 1200px) {
  .navbar-nav {
    padding: 0;
    margin: 0;
  
    .nav-link {
      margin: 0;
      height: 54px;
      padding: 0 20px;
    }
    .dropdown-item {
      margin: 0;
      background-color: #424242;
    }
    .dropdown-item:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .show {
    background-color: #333333;
    width: 100%;
  }
  
  .offcanvas-body {
    padding-left: 0px;
    padding-right: 0rem;
  }
  .show {
    a {
      font-family: "Nunito Sans", sans-serif;
      font-size: x-large !important;
      margin-left: 10px;
    }
    ul {
      margin-top: 30px;
    }
  }

  .dropdown-item {
    color: rgba(255, 255, 255, 0.55);
    padding: 8px 40px;
  }

  .dropdown-menu {
    margin-left: 0;
    margin-right: 0px;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    border: none;
    display: block;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all 200ms ease-in-out;
    border-radius: 0;
  
    &.show {
      max-height: 400px;
      opacity: 1;
      visibility: visible;
    }
    .nav-item {
      margin: 0;
    }
  }
  
    /* Bootstrap hamburger eltuntetese KEZDET */
  .navbar-toggler {
    border: 0;
    padding-right: 0px;
  }
  /* Bootstrap hamburger eltuntetese VEGE*/

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }

    /* Lines of the Toggler */
  .toggler-icon {
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background-color: white;
    display: block;
    transition: all 0.2s;
  }

  /* Adds Space between the lines */
  .middle-bar {
    margin: 5px auto;
  }

  /* State when navbar is opened (START) */
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  /* State when navbar is opened (END) */
  /* Navbar Mobile View improvements */
.nav-link.dropdown-toggle:after {
  content: "+";
  display: inline-flex;
  align-items: center;
  height: inherit;
  font-size: 1.5em;
  font-weight: 100;
  font-family: auto;
  float: right;
  margin: -0.255em 0 0 0;
  border: 0;
  padding-left: 0.25em;
  line-height: 1.17em;
}

.nav-link.dropdown-toggle.show:after {
  content: "–";
}

}
/* Hamburger menus beallitasok (END) */




// /* State when navbar is collapsed (START) */
// .navbar-toggler.collapsed .top-bar {
//   transform: rotate(0);
// }

// .navbar-toggler.collapsed .middle-bar {
//   opacity: 1;
//   filter: alpha(opacity=100);
// }

// .navbar-toggler.collapsed .bottom-bar {
//   transform: rotate(0);
// }
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
// .navbar-toggler.collapsed .toggler-icon {
//   background-color: red;
  // color: white;
// }



// .dropdown-item:focus,
// .dropdown-item:hover {
//   color: rgba(255, 255, 255, 0.55);
// }

/* Amikor nyitva van a menu */
@media screen and (min-width: 1200px) {
  .offcanvas-body {
    margin-left: auto !important;
    
    li {
      margin-top: auto;
      margin-bottom: auto;
      font-family: "Nunito Sans", sans-serif;
      font-size: x-large !important;
    }
  }

  .nav-link.dropdown-toggle:after {
    display: none !important;
  }

}

.nav-link {
  outline: none;
}

/* hide scrollbar but allow scrolling */
div {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


