// @import "/src/sass/global";

// :root {
//   // --header-height-base: 70px;
//   --overlay-side-padding: 12px;
//   --overlay-side-padding-desktop: 20px;
//   --overlay-toggle-size: 26px;
//   --overlay-background-transition-duration: 600ms;
// }

// .navbar {
//   height: var(--header-height-base);
// }

// /* Hamburger menus beallitasok (START) */
// @media screen and (max-width: 1200px) {
//   .navbar {
//     position: fixed;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 99999;
//     padding: 0 var(--overlay-side-padding) !important;

//     &-brand {
//       position: relative;
//       z-index: 99999;
//     }
//   }

//   .navbar-nav {
//     padding: 0;
//     margin: 0;

//     .nav-link {
//       margin: 0;
//       height: 54px;
//       padding: 0 var(--overlay-side-padding);
//     }
//     .dropdown-item {
//       margin: 0;
//       background-color: #424242;
//     }
//     .dropdown-item:hover {
//       color: rgba(255, 255, 255, 0.8);
//     }
//   }

//   .navbar-toggler:focus,
//   .navbar-toggler:active,
//   .navbar-toggler-icon:focus {
//     outline: none;
//     box-shadow: none;
//   }

//   .btn-close-white:focus,
//   .btn-close-white:active {
//     outline: none;
//     box-shadow: none;
//   }

//   body {
//     padding-right: 0 !important;
//   }

//   .offcanvas {
//     background-color: transparent;
//     visibility: visible !important;

//     .navbar-nav {
//       opacity: 0;
//       transition: all 200ms ease-in-out;
//     }

//     &-backdrop {
//       z-index: 0;
//     }

//     &.show {
//       width: 100%;

//       .navbar-nav {
//         opacity: 1;
//         transition-delay: calc(
//           var(--overlay-background-transition-duration) * 0.55
//         );
//       }

//       & + .offcanvas-background {
//         --offcanvas-bg-size: 200vh;
//         transform: translateX(calc(-50vw)) translateY(-50vh);
//       }
//     }

//     &-background {
//       --offcanvas-bg-size: 0vh;
//       display: block;
//       width: var(--offcanvas-bg-size);
//       height: var(--offcanvas-bg-size);
//       background-color: $primary-background-color;
//       position: fixed !important;
//       top: 0;
//       left: 0;
//       z-index: 1;
//       border-radius: 100%;
//       transition: all var(--overlay-background-transition-duration) ease-out;
//       transform: translateX(
//           calc(
//             100vw - var(--offcanvas-bg-size) - var(--overlay-toggle-size) -
//               var(--overlay-side-padding) + (var(--offcanvas-bg-size) / 2)
//           )
//         )
//         translateY(
//           calc(var(--header-height-base) / 2 - (var(--offcanvas-bg-size) / 2))
//         );
//       backface-visibility: hidden;
//     }
//   }

//   @media (orientation: landscape) {
//     .offcanvas {
//       &-background {
//         --offcanvas-bg-size: 0vw;
//       }

//       &.show {
//         & + .offcanvas-background {
//           --offcanvas-bg-size: 200vw;
//         }
//       }
//     }
//   }

//   .offcanvas-body {
//     padding-left: 0px;
//     padding-right: 0rem;
//     padding-top: calc(var(--header-height-base) + 30px);
//     position: relative;
//     z-index: 1;
//   }

//   .dropdown-item {
//     color: rgba(255, 255, 255, 0.55);
//     padding: 8px 40px;
//   }

//   .dropdown-menu {
//     margin-left: 0;
//     margin-right: 0px;
//     margin: 0 !important;
//     padding: 0 !important;
//     width: 100%;
//     border: none;
//     display: block;
//     opacity: 0;
//     visibility: hidden;
//     max-height: 0;
//     transition: all 200ms ease-in-out;
//     border-radius: 0;

//     &.show {
//       max-height: 400px;
//       opacity: 1;
//       visibility: visible;
//     }
//     .nav-item {
//       margin: 0;
//     }
//   }

//   /* Bootstrap hamburger eltuntetese KEZDET */
//   .navbar-toggler {
//     border: 0;
//     padding-right: 0px;
//     outline: none !important;
//   }

//   #offcanvasNavbar {
//     transition: all 0.5s ease-in-out;
//   }

//   .fade {
//     transition: opacity 0.5s linear;
//   }

//   .navbar-custom-toggler {
//     $toggler: &;

//     display: flex;
//     z-index: 9999;
//     font-size: var(--overlay-toggle-size);
//     width: 1em;
//     height: 1em;
//     position: relative;
//     cursor: pointer;

//     &-input {
//       display: none;

//       &:checked + #{$toggler}-icon {
//         #{$toggler}-line {
//           &--top {
//             transform: rotate(-45deg);
//             top: calc(0.5em + 1px - 2px);
//           }
//           &--middle {
//             transform: rotate(45deg);
//             top: calc(0.5em + 1px - 2px);
//           }
//           &--bottom {
//             bottom: -1em;
//             opacity: 0;
//           }
//         }
//       }
//     }

//     &-icon {
//       display: block;
//       width: inherit;
//       height: inherit;
//       position: relative;
//       cursor: pointer;
//     }

//     &-line {
//       display: block;
//       width: 100%;
//       height: 2px;
//       background-color: white;
//       border-radius: 2px;
//       transition: all 0.3s ease-in-out;
//       position: absolute;
//       top: 4px;
//       left: 0;

//       &--top {
//         top: 4px;
//       }
//       &--middle {
//         top: calc(0.5em + 1px - 2px);
//       }
//       &--bottom {
//         top: auto;
//         bottom: 4px;
//       }
//     }
//   }
//   /* Bootstrap hamburger eltuntetese VEGE */

//   .nav-link {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   /* Navbar Mobile View improvements */
//   $toggleAnimationSpeed: 400ms;
//   $toggleAnimationSpeedMod: 150ms;

//   .nav-link.dropdown-toggle {
//     &:before,
//     &:after {
//       content: "";
//       background-color: white;
//       display: block;
//       font-size: 20px;
//       width: 1em;
//       height: 2px;
//       border: none;
//       position: absolute;
//       right: calc(var(--overlay-side-padding) + 2px);
//     }

//     &:before {
//       animation: dropdownToggleIconSpinMoreBack $toggleAnimationSpeed +
//         $toggleAnimationSpeedMod forwards;
//     }

//     &:after {
//       width: 2px;
//       height: 1em;
//       right: calc(var(--overlay-side-padding) + 2px + 0.5em - 1px);
//       animation-delay: $toggleAnimationSpeedMod;
//       animation: dropdownToggleIconSpinBack $toggleAnimationSpeed forwards;
//     }

//     &.show {
//       &:before {
//         animation: dropdownToggleIconSpinMore $toggleAnimationSpeed +
//           $toggleAnimationSpeedMod forwards;
//       }
//       &:after {
//         animation-delay: 0;
//         animation: dropdownToggleIconSpin $toggleAnimationSpeed forwards;
//       }
//     }
//   }
// }

// @keyframes dropdownToggleIconSpin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(90deg);
//   }
// }

// @keyframes dropdownToggleIconSpinMore {
//   0% {
//     transform: rotate(0deg);
//   }
//   75% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }

// @keyframes dropdownToggleIconSpinBack {
//   0% {
//     transform: rotate(90deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }

// @keyframes dropdownToggleIconSpinMoreBack {
//   0% {
//     transform: rotate(180deg);
//   }
//   100% {
//     transform: rotate(180deg);
//   }
// }
// /* Hamburger menus beallitasok (END) */

// // .dropdown-item:focus,
// // .dropdown-item:hover {
// //   color: rgba(255, 255, 255, 0.55);
// // }

// /* Amikor nyitva van a menu */
// @media screen and (min-width: 1200px) {
//   // .offcanvas-body {
//   //   margin-left: auto !important;

//   //   li {
//   //     // margin-top: auto;
//   //     // margin-bottom: auto;
//   //   }
//   // }

//   #navbarToggle {
//     visibility: hidden;
//   }

//   .navbar {
//     padding: 0 var(--overlay-side-padding) !important;
//   }

//   // uj soreok

//   .nav {
//     z-index: 10;
//     display: flex;
//     flex-direction: row;
//     // justify-content: flex-start;
//     position: fixed;
//     transition: 0.5s;
//     align-items: center;
//     width: 100%;
//     height: 70px;
//     background-color: $primary-background-color;
//     top: 0;
//     left: 0;
//   }

//   .hide {
//     transform: translateY(-80px);
//   }

//   //vege

//   /* Almenus menupont haromszog eltuntetese */
//   .nav-link.dropdown-toggle:after {
//     display: none !important;
//   }

//   .nav-link.dropdown-toggle {
//     transition: all 0.15s ease-in-out;
//   }

//   .dropdown-menu {
//     display: block;
//     visibility: hidden;
//     opacity: 0;
//     background-color: $color-brand-orange;
//     border-radius: 0;
//     border: 0;
//     margin: 0 !important;
//     //   width: 100%;
//     // display: block;
//     transition: all 0.15s ease-in-out;
//   }
//   .nav-item.dropdown:hover {
//     .dropdown-toggle {
//       color: rgba(255, 255, 255, 0.75);
//       background-color: #f39e12;
//     }
//     .dropdown-menu {
//       opacity: 1;
//       visibility: visible;
//     }
//   }
//   .dropdown-toggle:hover {
//     background-color: $color-brand-orange;
//   }

//   .nav-item {
//     margin: 0;
//   }

//   .offcanvas-end {
//     width: auto !important;
//   }
//   .navbar-brand {
//     padding-left: var(--overlay-side-padding-desktop);
//     padding-top: 0 !important;
//     padding-bottom: 0 !important;
//   }

//   .offcanvas {
//     position: fixed !important;
//   }
// }

// .container-fluid {
//   overflow: visible;
// }
// .offcanvas {
//   overflow: visible;
// }

// .nav-link {
//   outline: none;
// }

// /* hide scrollbar but allow scrolling */
// div {
//   -ms-overflow-style: none; /* for Internet Explorer, Edge */
//   scrollbar-width: none; /* for Firefox */
//   overflow-y: scroll;
// }

// div::-webkit-scrollbar {
//   display: none; /* for Chrome, Safari, and Opera */
// }
