@import "/src/sass/global";

.navbar-menu-mobil-featured {
  // width: 100%;
  margin: 14px;
  margin-top: 1rem;
  background-color: $offcanvas-menu-color;

  .navbar-menu-mobil-featured-container {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 12px;
    flex-wrap: wrap;
    z-index: 2;
    padding-top: 28px;
    border-top: 1px solid $color-shades-darkGray;
    margin-bottom: 100px;
  }

  .box {
    border-bottom: 1px white solid;
  }
}
