@import "/src/sass/global";

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.navbar_container {
  #gatsby-focus-wrapper {
    margin: 0 !important;
    height: 100% !important;
    overflow: hidden !important;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 200ms ease, transform 800ms ease;
  z-index: 9999;
}

.scrolled {
  background-color: $navbar-scrolled-background-color;
  // transition: background-color 1300ms ease, transform 200ms ease;
  .logo-round {
    height: 36px;
    width: 36px;
  }
  ._logo_text {
    height: 38px;
    margin-left: 12px;
  }
}

.hide {
  transform: translateY(-56px);
  background-color: $primary-background-color;
}
