@import "/src/sass/global";

.menuFooter--box {
  display: block;
  height: auto;

  ul {
    list-style: none;
    margin-left: 16px;
    padding-right: 16px;

    li {
      display: block;
      float: left;
    }
  }

  hr.solid {
    border-top: 3px solid #bbb;
    margin: 16px;
  }
}
