@import "/src/sass/global";

.menuFooter--box {
  //   position: fixed;
  display: block;
  height: auto;
  // padding: 16px;
  // z-index: 1;

  ul {
    list-style: none;
    margin-left: 0;
    // padding-top: 16px;
    li {
      display: block;
      float: left;
      padding-right: 16px;
    }
  }
}
