@import "/src/sass/global";

.progress-line {
  height: 3px;
  background-color: $color-brand-orange;
  position: fixed;
  z-index: 999;
}
.progress-bar-wrapper {
  z-index: 9999;
  position: sticky;
  top: 58px;
  transition: all 1.5s;
  &.potato {
    top: 0;
  }
}
