@import "/src/sass/global";

.progress-line {
  height: 4px;
  background-color: $color-brand-orange;
  position: fixed;
  z-index: 999;
}
.progress-bar-wrapper {
  z-index: 9999;
  position: fixed;
  top: 0;
  transition: all 1.3s ease;
  &.potato {
    top: 0;
  }
}
