@import "/src/sass/global";

.product-card {
  border: solid 2px $color-shades-darkGray;
  border-radius: 2px;
  box-sizing: border-box;

  .product-card__header {
    padding: 20px;
    background-color: $color-shades-darkGray;
    display: flex;
    @include xs {
      flex-direction: column;
      align-items: center;
    }
    @include md {
      flex-direction: row;
    }
  }

  .product-card__footer {
    padding: 10px;
    background-color: $color-shades-darkGray;
    display: flex;
    @include xs {
      flex-direction: column;
      align-items: center;
    }
    @include md {
      flex-direction: row;
    }
  }
}

.product-card__image {
  height: 200px;
}
