@import "/src/sass/global";

.hide-class {
  display: none;
}

.schedule-class {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
    gap: 10px;
  }
}

.schedule-details {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  padding-bottom: 16px;
}

.schedule-main-row {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: space-between;
}

.schedule-date-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
