@import "/src/sass/global";

.section--osztondij {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include xs {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  @media only screen and (min-width: 1px) and (max-width: 576px) {
    .btn {
      width: 100%;
    }
  }

  .section-osztondij__background {
    position: absolute;
    width: 670px;
    height: 100%;
    z-index: -1;
  }

  .section-osztondij__wrapper {
    padding: 20px;

    @include xs {
      width: 100%;
    }
    @include md {
      width: fit-content;
    }
  }

  .section--osztondij--header,
  .section--osztondij--text,
  .section--osztondij--button {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

    p {
      width: 600px;
      text-align: center;
    }
  }
}

.section--osztondij--button {
  z-index: 9999;
}
