@import "/src/sass/global";

.section--rolunk {
  // max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 1px) and (max-width: 576px) {
    .btn {
      width: 100%;
    }
  }
  @media only screen and (min-width: 577px) {
    .section--rolunk--text,
    .section--rolunk--button {
      display: flex;
      justify-content: center;
    }

    p {
      width: 600px;
      text-align: center;
    }
  }
}

.section--rolunk--tradicio {
}

.section--rolunk--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  p {
    width: fit-content;
    text-align: center;
  }
}
