.map__box {
  overflow: hidden;
}

@media only screen and (min-width: 1px) and (max-width: 720px) {
  iframe {
    frameborder: 0;
    width: 100%;
    height: 100vw;
    loading: lazy;
    title: Google maps;
    display: block;
    margin-top: 60px;
  }
}

@media only screen and (min-width: 721px) {
  iframe {
    frameborder: 0;
    width: 100%;
    height: 30vw;
    loading: lazy;
    title: Google maps;
    display: block;
    margin-top: 60px;
  }
}
