@import "/src/sass/global";

.social-proof-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-shades-darkGray;
  margin-bottom: 16px;

  @media only screen and (min-width: 1px) and (max-width: 300px) {
    height: 360px;
  }
  @media only screen and (min-width: 301px) and (max-width: 320px) {
    height: 320px;
  }

  @media only screen and (min-width: 321px) and (max-width: 400px) {
    height: 300px;
  }

  @media only screen and (min-width: 401px) and (max-width: 576px) {
    height: 250px;
  }

  @media only screen and (min-width: 577px) and (max-width: 768px) {
    height: 210px;
  }

  @media only screen and (min-width: 769px) and (max-width: 992px) {
    height: 210px;
  }

  @media only screen and (min-width: 993px) {
    height: 220px;
  }
}

.social-proof-card__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 32px;
  button {
    width: 100%;
  }
}

.social-proof-card__wrapper-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  svg {
    position: relative;
    top: -12px;
    margin-bottom: 12px;
  }
}

.social-proof-card__wrapper-body {
  text-align: left;
  margin-top: 12px;
  @include xs {
    height: 180px;
  }
  @include md {
    height: 100px;
  }
}
