@import "/src/sass/global";

.social-proof-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-shades-darkGray;
  margin-bottom: 16px;

  @media only screen and (min-width: 1px) and (max-width: 300px) {
    height: 390px;
  }
  @media only screen and (min-width: 301px) and (max-width: 320px) {
    height: 360px;
  }

  @media only screen and (min-width: 321px) and (max-width: 400px) {
    height: 320px;
  }

  @media only screen and (min-width: 401px) and (max-width: 576px) {
    height: 250px;
  }

  @media only screen and (min-width: 577px) and (max-width: 768px) {
    height: 210px;
  }

  @media only screen and (min-width: 769px) and (max-width: 992px) {
    height: 210px;
  }

  @media only screen and (min-width: 993px) {
    height: 220px;
  }
}

.social-proof-card__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 32px;
}

.social-proof-card__wrapper-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  svg {
    position: relative;
    top: -12px;
    margin-bottom: 12px;
  }
}

.social-proof-card--modal-body {
  padding-bottom: 40px;
}

.social-proof-card__wrapper-body {
  text-align: left;
  margin-top: 12px;
  @include xs {
    height: 180px;
  }
  @include md {
    height: 100px;
  }
}

.social-proof-card--modal-box {
  @media only screen and (min-width: 1px) and (max-width: 768px) {
    margin-bottom: -12px;
  }
  @media only screen and (min-width: 769px) {
    margin-bottom: 28px;
  }
  button {
    padding-top: 0;
    padding-bottom: 0;
    svg {
      float: right;
    }
  }

  .social-proof-card--modal-header {
    margin-top: 24px;
    padding-bottom: 24px;
  }

  .social-proof--persona {
    display: flex;
    flex-direction: row;
    gap: 8px;
    svg {
      position: relative;
      top: -12px;
      margin-bottom: 12px;
    }
  }

  dialog {
    background-color: $color-shades-darkGray;
    color: $color-shades-white;
    padding-bottom: 24px;
    @include xs {
      margin-top: 60px;
      margin-left: 5%;
      margin-right: 5%;
    }
    @include md {
      margin-top: 10%;
      margin-left: 10%;
      margin-right: 10%;
      max-height: 90vh;
      overflow-y: auto;
    }
    // @include xl {
    //   margin-top: auto;
    //   margin-left: 10%;
    //   margin-right: 10%;
    // }

    p {
      margin-right: 30px;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      cursor: pointer;
      svg {
        margin: 8px;
        margin-top: 14px;
      }
    }
  }
}

dialog:div {
  width: 90%;
}

@keyframes dialogFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%) scale(0.9);
  }
  to {
    opacity: 1;
    // transform: translateY(-10%) scale(1);
  }
}

.social-proof-card--modal-open {
  background-color: orange;
  animation: dialogFadeIn 0.3s ease-out;
}

@media only screen and (min-width: 992px) {
  .social-proof-card--modal-open {
    transform: translateY(-10%);
  }
}

dialog::backdrop {
  background-color: rgba(38, 38, 38, 0.9);
}
