@use "sass:math";
@import "/src/sass/global";

.textarea--field-box {
  width: 100%;
  background: transparent;
  box-shadow: 0px 0px 0px 2px $color-shades-lightGray inset;

  &:focus-within {
    box-shadow: 0px 0px 0px 1px $color-brand-orange inset;
    color: $color-brand-orange;
    border-radius: none !important;
  }
  textarea {
    width: 100%;
    background: transparent;
    color: $color-shades-lightGray;
    font-family: $small-font-size-desktop;
    font-weight: 600;
    width: calc(100% - 36px);
    padding: 16px;
    resize: none;

    &:focus-within {
      color: $color-brand-orange;
      border-radius: none !important;
    }
  }
}
